html.dark-theme {
  /* General */
  --font-weight: 300;
  --body-background-color: #1b1f23;
  --panel-background-color: #262a2d;
  --panel-background: #2c3135;
  --panel-group-background-color: #303741;
  --panel-border-color: #2c3135;
  --color-accent-1: #272c33;
  --color-accent-1-invert: #d8d3cc;
  --color-accent-2: #2d333a;
  --color-accent-3: #6db33f;
  --body-font-color: #fff;
  --asciidoctor-heading-font-color: #fff;
  --body-font-light-color: #abacaf;
  --body-font-dark-color: #cecfd1;
  --link-font-color: #086dc3;
  --hover-link-font-color: #107ddd;
  --scrollbar-thumb-color: #5f5f5f;
  --mark-background-color: #2eca12;
  --selected-background-color: #fff;
  --doc-font-color: #fff;

  /* Layout */
  --layout-switchtheme-invert-filter: none;
  --layout-switchtheme-background-color: var(--selected-background-color);

  /* Asciidoctor */
  --asciidoctor-code-background: rgba(177, 209, 241, 0.15);
  --asciidoctor-code-data-lang-color: #6e6e6e;
  --asciidoctor-admonition-font-color: #f0f0f0;
  --asciidoctor-admonition-caution-background: #603668;
  --asciidoctor-admonition-important-background: #924040;
  --asciidoctor-admonition-note-background: #355463;
  --asciidoctor-admonition-tip-background: #4d6340;
  --asciidoctor-admonition-warning-background: #967745;
  --asciidoctor-footer-font-color: #5e5e5e;

  /* Highlight JS (colors based on https://github.com/primer/github-syntax-dark) */
  --highlight-background-color: var(--asciidoctor-pre-background);
  --highlight-font-color: #f6f8fa;
  --highlight-keyword-font-color: #ea4a5a;
  --highlight-comment-font-color: #959da5;
  --highlight-string-font-color: #79b8ff;
  --highlight-meta-font-color: #959da5;
  --highlight-constant-font-color: #79b8ff;
  --highlight-variable-font-color: #c8e1ff;
  --highlight-tag-font-color: #7bcc72;
  --highlight-tag-attribute-font-color: #b392f0;
  --highlight-type-font-color: #b392f0;
  --highlight-link-font-color: #1565c0;
  --highlight-addition-font-color: #7bcc72;
  --highlight-deletion-font-color: #f6f8fa;
  --highlight-regex-font-color: #79b8ff;

  /* TOC */
  --toc-back-to-index-filter: invert();
  --toc-bar-button-filter: invert();

  /* Code Tools */
  --codetools-button-filter: invert();
  --codetools-button-active-filter: none;
  --codetools-hover-background-color: var(--color-accent-1-invert);
  --codetools-border-color: rgba(255, 255, 255, 0.274);
  --codetools-divider-color: rgba(44, 44, 44, 0.274);

  /* social */
  --social-icon-circle: var(--color-white);
  --social-icon-color: var(--color-black);

  /* Customizations to spring.io due to antora */
  --footer-background: var(--body-background-color);
  --footer-font-color: rgba(255, 255, 255, 0.5);
  --footer-link-font-color: rgba(255, 255, 255, 0.5);
  --toc-active-font-color: var(--body-background-color);

  /* Antora */
  --nav-background: var(--body-background-color);
  --nav-secondary-background: var(--body-background-color);
  --nav-font-color: var(--color-white);
  --nav-muted-color: #aaa;
  --nav-heading-font-color: var(--color-white);
  --navbar-background: var(--body-background-color);
  --navbar-font-color: var(--color-white);
  --navbar-menu-background: #000;
  --navbar-menu-boxshadow: 0 5px 30px 0 rgb(0 0 0 0 / 50%);
  --navbar-menu-font-color: var(--color-white);
  --toolbar-background: var(--body-background-color);
  /* --toolbar-border-color: var(--body-background-color); */
  --nav-panel-divider-color: rgba(255, 255, 255, 0.2);
  --toolbar-font-color: var(--navbar-font-color);
  --toolbar-muted-color: #aaa;
  --page-version-menu-background: var(--navbar-background);
  --toc-heading-font-color: var(--color-white);
}

html.dark-theme .home-link {
  background: url(../img/home-o-dark.svg) no-repeat center;
}

html.dark-theme .home-link:hover,
html.dark-theme .home-link.is-current {
  background: url(../img/home-dark.svg) no-repeat center;
}
