<article class="doc">
{{> article-latest}}
{{> breadcrumbs}}
{{#with page.title}}
<h1 id="page-title" class="page">{{{this}}}</h1>
{{/with}}
{{#with page.attributes.author}}
<p class="page-author">{{this}}</p>
{{/with}}
{{{page.contents}}}
{{> nav-section-summary}}
{{> pagination}}
</article>
