<article class="page-404">
  <h1 class="page">404</h1>
  <div class="paragraph">
    <p class="strong">Oops! The page can’t be found.</p>
    <p>{{#with site.homeUrl}}Go to
        <a href="{{{this}}}">homepage</a>{{/with}}</p>
  </div>
</article>