<div class="page-search">
  <div class="search-wrap">

    <h1 id="page-title" class="page">Search</h1>
    <div class="page-box-sticky">
      <div id="page-searchbox"></div>
      <div class="page-info">
        <div id="page-counter"></div>
        <div class="page-search-by">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://www.algolia.com/"
            aria-label="Search by Algolia"
          >
            <img
              class="light"
              width="140"
              src="https://docs.spring.io/spring-framework/reference/_/img/algolia-light.svg"
            />
            <img
              class="dark"
              width="140"
              src="https://docs.spring.io/spring-framework/reference/_/img/algolia-dark.svg"
            />
          </a>
        </div>
      </div>
    </div>
    <div id="page-hits"></div>

  </div>
</div>