<link rel="stylesheet" href="{{{uiRootPath}}}/css/vendor/page-spring-projects.css">
<script async src="{{{uiRootPath}}}/js/vendor/page-spring-projects.js"></script>

<div class="page-spring-projects">
  <div class="container">
    <h1 id="page-title" class="page">Spring Projects</h1>
    <ul class="projects-list">
      {{#each (related_projects (undefined) (undefined) (spring-projects))}}
        {{> related-project this}}
      {{/each}}
    </ul>
</div>
