<main class="article">
{{> toolbar}}
  <div class="content">
{{#if (eq page.layout '404')}}
{{> article-404}}
{{else if (eq page.attributes.article 'search')}}
{{> article-search}}
{{else if (eq page.attributes.article 'spring-projects')}}
{{> article-spring-projects}}
{{else}}
{{> toc}}
{{> article}}
{{/if}}
  </div>
</main>
