<ul class="projects">
  <li>
    Related Spring Documentation
    <ul class="projects-list">
      {{#each (related_projects (split page.attributes.related-doc-categories) (split page.attributes.related-doc-projects) (spring-projects))}}
        {{> related-project this}}
      {{/each}}
    </ul>
  </li
  <li><a href="{{{relativize '/spring-projects.html'}}}">All Docs...</a></li>
</ul>
