<li>
{{#if ./children}}
<a class="anchor"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
{{/if}}
{{#if ./href}}
<a href="{{./href}}">
  {{./text}}
</a>
{{else}}
  {{./text}}
{{/if}}
{{#if ./children}}
<ul>
  {{#each ./children}}
    {{> related-project this}}
  {{/each}}
</ul>
{{/if}}
</li>
