.breadcrumbs-container {
  padding-top: 2rem;
}

.breadcrumbs {
  max-width: var(--doc-max-width);
  flex: 1 1;
  padding: 0;
  line-height: var(--nav-line-height);
  color: var(--doc-font-color);
  font-family: var(--font-family);
  font-size: calc(16 / var(--rem-base) * 1rem);
}

@media screen and (min-width: 1024px) {
  .breadcrumbs {
    max-width: var(--doc-max-width--desktop);
    min-width: 0;
  }
  .breadcrumbs-container {
    position: fixed;
    top: 80px;
    padding: 1rem 0;
    right: var(--toc-width--widescreen);
    left: var(--nav-width);
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: var(--body-background-color);
    border-bottom: 1px solid var(--nav-panel-divider-color);
  }
  .doc {
    padding-top: 60px;
  }
}

a + .breadcrumbs {
  padding-left: 0.05rem;
}

.breadcrumbs ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.breadcrumbs li {
  display: inline;
  margin: 0;
}

.breadcrumbs li::after {
  content: "/";
  padding: 0 0.5rem;
}

.breadcrumbs li:last-of-type::after {
  content: none;
}
