footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1.5rem;
  border-top: 1px solid var(--color-accent-1);
}

.footer p {
  margin: 0.5rem 0;
  color: var(--footer-link-font-color);
}

.footer a {
  color: var(--footer-link-font-color);
}

.footer a:hover {
  color: var(--link-font-color);
}

.footer .has-gray-text {
  color: #b5b5b5;
}
