@media screen and (max-width: 1023.5px) {
  aside.sidebar {
    display: none;
  }

  main > .content {
    overflow-x: auto;
  }
}

@media screen and (min-width: 1024px) {
  main {
    flex: auto;
    min-width: 0; /* min-width: 0 required for flexbox to constrain overflowing elements */
  }

  main > .content {
    display: flex;
  }

  .toc.embedded {
    display: none;
  }

  aside.sidebar {
    flex: 0 0 var(--toc-width);
    flex-basis: var(--toc-width--widescreen);
    order: 1;
  }
}

@media screen and (min-width: 1216px) {
  aside.sidebar {
    flex-basis: var(--toc-width--widescreen);
  }
}

.flex {
  display: flex;
}

.main-body--wrapper,
.container-fluid,
.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

#springlogo,
#springlogo-foot {
  height: 45px;
  max-width: 250px;
}

footer #social-icons {
  flex-shrink: 0;
  width: 160px;
}

footer #social-icons a {
  height: 40px;
  margin-left: 15px;
}

footer #social-icons svg {
  width: 40px;
}

footer #social-icons a:hover svg .cls-1,
footer #social-icons a:focus svg .cls-1 {
  fill: var(--color-accent-3);
}

footer #spring-links a:hover {
  color: #086dc3;
  text-decoration: underline;
}

#youtube-icon .cls-1 {
  fill: var(--social-icon-circle);
}

#youtube-icon .cls-2 {
  fill: var(--social-icon-color);
}

#github-icon .cls-1 {
  fill: var(--social-icon-circle);
}

#github-icon .cls-2 {
  fill: var(--social-icon-color);
  fill-rule: evenodd;
}

#twitter-icon .cls-1 {
  fill: var(--social-icon-circle);
}

#twitter-icon .cls-2 {
  fill: var(--social-icon-color);
}

.sidebar-links {
  display: none;
  padding: 10px 0;
}

.sidebar-links a {
  display: block;
  position: relative;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding-left: 32px;
  color: var(--body-font-dark-color);
  margin: 8px 0;
  cursor: pointer;
}

.sidebar-links a:hover {
  color: var(--link-font-color);
  text-decoration: none;
}

.sidebar-links a:hover svg {
  fill: var(--link-font-color);
}

.sidebar-links a svg {
  position: absolute;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
}

html.dark-theme .sidebar-links a svg {
  fill: #fff;
}

html.dark-theme .sidebar-links a:hover svg {
  fill: var(--link-font-color);
}

#modal-versions .colset {
  display: flex;
  flex: 50%;
  color: var(--body-font-dark-color);
}
#modal-versions .colset .col-left,
#modal-versions .colset .col-right {
  display: flex;
  flex: 50%;
  padding: 1.5rem 2rem;
}

#modal-versions .colset .col-right {
  background: #e5ebeb;
}

html.dark-theme #modal-versions .colset .col-right {
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1023.5px) {
  #modal-versions .colset {
    display: block;
  }
  #modal-versions .colset .col-left,
  #modal-versions .colset .col-right {
    display: block;
    width: 100%;
  }
}

#modal-versions ul {
  list-style: none;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#modal-versions ul li {
  padding: 0.2rem 0;
}

#modal-versions .anchor {
  display: none;
}

#modal-versions a {
  display: inline-block;
  color: var(--link-font-color);
}

#modal-versions ul li.component > a.title {
  color: var(--body-font-dark-color);
}

#modal-versions ul ul li {
  list-style: disc;
}

#modal-versions ul ul {
  font-weight: normal;
  margin: 0;
  padding: 0.4rem 0;
  margin-left: 20px;
  list-style: circle;
}

#modal-versions ul.projects {
  width: 100%;
}
#modal-versions ul.projects-list {
  max-height: 70vh;
  overflow: auto;
  display: block;
  margin-left: 0;
}

#modal-versions .col-left {
  max-height: 80vh;
  overflow: auto;
}

#modal-versions .current {
  background-color: #80ea6e;
  color: #111;
  align-items: center;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.75rem;
  height: 24px;
  justify-content: center;
  line-height: 24px;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
  margin-left: 0.75rem !important;
  text-transform: uppercase;
  font-weight: 700;
}

#modal-versions .modal-versions-close {
  opacity: 0.6;
  border: none;
  outline: none;
  line-height: inherit;
  position: absolute;
  background-color: transparent;
  width: 36px;
  height: 36px;
  right: 12px;
  top: 12px;
}

#modal-versions .modal-versions-close:hover {
  opacity: 1;
}

html.dark-theme #modal-versions .modal-versions-close .cls-1h {
  stroke: white;
}

@media screen and (min-width: 1024px) {
  .sidebar-links {
    display: block;
  }
}

html.dark-theme .invert-dark img {
  filter: invert(1);
}
