.navbar-brand .navbar-item + .navbar-item {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  .navbar-brand .navbar-item + .navbar-item {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-brand {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  .navbar-menu {
    -ms-flex-positive: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
  }
}

#search-input {
  position: relative;
  display: block;
  margin-top: 8px;
  margin-left: 10px;
  width: 150px;
  border: 1px solid var(--kbd-border-color);
  background: var(--body-background-color);
  font-size: 0.95rem;
  border-radius: 0.1em;
  line-height: 1.5;
  padding: 0 0.25em;
  color: var(--body-font-dark-color);
}
