<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Page Not Found'}}
  </head>
  <body class="status-404">
{{> header}}
  <main class="article">
    <div class="content">
{{> article-404}}
    </div>
  </main>
{{> footer}}
  </body>
</html>
